

body {
  background-color: black;
}


header {background-color: white;
  color: black;
padding: 1rem;
text-align: center;


}
header h1 {
  color: black;
  margin-top: 3%;
}
h1, h2, p {
  color: white;
  margin-top: 0;

}
h1 {
  font-size: 3rem;
}

p {
  font-size: 1.5rem;
}





a:link, a:visited {
  color: white;
  text-decoration: none;
}
a:hover {
 color: gray;
 text-decoration: underline;
}

/* Layout ******/
.container{
  background-color: black;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(12, 1fr);
  margin: 0 auto;
  width: min(95%, 75rem);
  

}
.container > * {
  grid-column: span 12;
}


 /****** Navigation Using Flexbox *****/ 
 nav {
   background-color: red;
   padding: 0  5rem;
   display: flex;
   justify-content: center;
   position: sticky;
   top: 0;
 }
 nav ul {
   margin: 0;
   padding: 1rem;
   list-style: none;
   display: flex;
   flex-flow: row wrap; 

 }
 nav li {
   margin: 0 0.5rem;

 }
 nav a:link nav a:visited {
   color: white;
   text-decoration: none;
   font-size: 1.125rem;
   padding: 1rem;
   display: block;
   transition: ease-in-out 250ms;

 }
 nav a:hover {
   background-color: gray;
   color: white;
   text-decoration: none;
 }
  

/* components ******/
.button:link, .button:visited {
 color: white;
 background-color: gray;
 text-align: center;
 text-decoration: none;
 padding: 1rem 1.75rem;
 border-radius: .5rem;
 box-shadow: 0 .125rem .5rem rgba(0, 0, 0, .125rem);
 display: inline-block;
 margin: 0 .25rem .25rem 0;
 transition: backround-color 0.5s ease;
}
.button:hover {
 background-color:gray;
}

.card {
 text-align: center;
 margin: 1rem;
 padding-bottom: 2rem;
 box-shadow: 0 .125rem .5rem rgba(0, 0, 0, .125rem);
}
.card-title {
 margin: 0.75rem 0 0 0;
 padding: 0 2rem 0.5rem;
}
.card-text {
 margin: 0.5rem 0 1rem 0;
 padding: 0 2rem 0.5rem;
}




.container2 {
   margin: 1 auto; 
    padding-top: 3rem;

  }




  .bestbackround 
  {
    background-color: black;
  }
  img {
    max-width: 100%;
   
  }
  /* Best Teams */ 


  .pic1h1 {

color: white;
text-align: center;
font-size:  4rem;
  }

  .pic1h2 {
    color: white;
     font-size: 2rem;
  }

  .pic1h3 {
    color: white;
    font-size: 1rem;

  }
  .navtop {
    margin-top: -1.5rem;
  }



  
  a.button2 {
  
    color: red;
    background-color: white;
    padding: 2rem 3rem;
    text-align: center;
    border-radius: 50%;
    text-decoration: none;
    
    
  }
  a.button2:hover {
    background-color: gray;
  }
  .center {
    text-align: center;
    max-width: 100%;
    
  
  }
  
/* Desktop Layout */
@media screen and (min-width: 40rem) {
  .hero {
      grid-column: 3 / span 8;
     
  }
  .col-span-4 {
    grid-column: span 4;
  }
  .col-span-8 {
    grid-column: span 8;
  }
  
}
.piccenter {
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

