:root {
    --primary-color: #033f5f;
    --second-color: #007CBC;
    --neutral-grey: #747e83;
    --neutral-light: #ffffff;
    --highlight-color: #f5ba36;
}
* {
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    margin: 0 2rem 3rem 5rem;
}

h1 {
    font-size: 2.5rem;
    color: var(--neutral-light);
}
h2 {
    font-size: 2rem;
    color: var(--primary-color);
}
h3 {
    font-size: 1.5rem;
    color: var(--primary-color);
}
p, ul, ol {
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: var(--neutral-grey);
}
img {
    max-width: 100%;
}

/****** Layout *******/
.container {
    background-color: red;
    width: min(95%, 75rem);
    margin: 0 auto;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(12, 1fr);
}
.container > * {
    grid-column: span 12;
}

.green {background-color: green;}
.blue {background-color: blue;}
.yellow {background-color: yellow;}
.purple {background-color: purple;}
.orange {background-color: orange;}
.red {background-color: red;}


/* Desktop Layout */
@media screen and (min-width: 40rem) {
    .col-span-1 {
        grid-column: span 1;
    } 
    .col-span-2 {
        grid-column: span 2;
    }
    .col-span-3 {
        grid-column: span 3;
    }
    .col-span-4 {
        grid-column: span 4;
    }
    .col-span-5 {
        grid-column: span 5;
    }
    .col-span-6 {
        grid-column: span 6;
    }
    





    .site-id {
        grid-column: 1 / span 5;
    }
    .logo {
        grid-column: 6 / span 2;
    } 
    .lang {
        grid-column: 8 / span 5;
    }
    .social {
        grid-column: 1 / span 4;
    }
    .search {
        grid-column: 5 / span 4;
    } 
    .disclaimer {
        grid-column: 9 / span 4;
    }
   
}