



:root {
    --primary-color: #033f5f;
--second-color: #007CBC; 
--neutral-grey: #747e83; 
--neutral-light: #ffffff; 
--highlight_color: #f5ba36; 

}



* {
    box-sizing: border-box;
font-family: sans-serif;
}


body {
    margin: 0; 
}
h1 {font-size: 2.5rem; 
color:var(--neutral-light)
}

h2 {font-size: 2rem;
color: var(--primary-color);
}

h3 {font-size: 1.5rem;}

p { font-size: 1.25rem;
line-height: 1.75rem;
color: var(--neutral-grey);
}

/* ######## layout*/
.container  {
    background-color: red; 
    width: min(95%, 75rem);
    margin: auto;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(12, 1fr);

}
.container > * {
    grid-column: span 12;
}
/* ######## layout*/
.container-lg  {
    background-color: blue; 
    width: min(100%, 100rem);
    margin: auto;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(12, 1fr);

}
.container-lg > * {
    grid-column: span 12;
}
.portfolio {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(5, 1fr);
    padding-bottom: 2rem;
    background-color: white;
}
.primary-color {
    background-color: var(--primary-color);
}
.highlight-color {
    background-color: var(--highlight_color);
}
.text-center {
    background-color: var(--highlight_color);
}
 /***** Desktop Layput*****/

@media screen and (min-width: 40rem) {
 .site-id {
grid-column: 1 / span 6;
background-color: #033f5f;

 } 
 .menu {
    grid-column: 7 /span 6;
    background-color: #035f0b;
 }
.company {
grid-column: 1 / span 8;
background-color: purple;
}

}