


.title {
    text-align: center;
    background-color: rgb(224, 43, 43);
   display: grid;
   gap: 1.5rem;
   grid-template-columns: repeat(12, 1fr);
   margin: 0 auto;
   width: min(95% 75rem);
}

.title > * {
    grid-column: span 12;
  }

  