* {
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
    background-color: #faf2e4;
    margin: 0;
    background-image: url(../images/bg.png);
    }

    header {background-color: burlywood;
    color: white;
padding: 2rem;}
  h1 {
   font-size: 2rem;
  }
  h2 {
    
    font-size: 1.5em;
  } 
  h3 {
font-size: 1.25rem;
 }
 .circle {
   border-radius: 50%;
   border: 5px solid #9abcf8;
 }

 a:link, a:visited {
   color: #9abcf8;
   text-decoration: none;
 }
 a:hover {
  color: #183361;
  text-decoration: underline;
}

 /* Layout ******/
 .container{
   background-color: white;
   display: grid;
   gap: 1.5 rem;
   grid-template-columns: repeat(12, 1fr);
   margin: 0 auto;
   width: min(95% 75rem);

 }
 .container > * {
   grid-column: span 12;
 }

 /* Desktop layout */
 @media  screen and (min-width: 40rem) {
   .col-span-8 {
     grid-column: span 8;
   }
   .col-span-4 {
    grid-column: span 4;
  }
   
 }
/* components ******/
.button:link, .button:visited {
  color: white;
  background-color: #9abcf8;
  text-align: center;
  text-decoration: none;
  padding: 1 rem 1.75rem;
  border-radius: .5rem;
  box-shadow: 0 .125rem .5rem rgba(0, 0, 0, .15);
  display: inline-block;
  margin: 0 .25rem .25rem 0;
  transition: backround-color 0.5s ease;
}
.button:hover {
  background-color:#183361;
}